
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="/default-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ZwvBcIHjxOM46mqOYjv5Kzndm5_Q88-DpfeGkjt31n6qw3eBPpkGzTPQ8Ds9PG4w" charset="UTF-8"></script></head>
<body>
<div class="content">
    <form class="login-form" method="post" action="/login">
        <h2>Please sign in</h2>

        <p>
            <label for="username" class="screenreader">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="screenreader">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>


        <button type="submit" class="primary">Sign in</button>
    </form>



</div>
</body>
</html>